*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    height: 100vh;
    place-items:center;
    background: linear-gradient(to right, #dfabc5 0%, #1da1f2 100%);

}    
.containerr{
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;

}

.containerr .logoo img{
    /* position: absolute;
    left: 70%; */
    float:right;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #f7479f;
}

.containerr form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.containerr form .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 2px;
    left: 0;
    border-radius: 5px;
    background: #1da1f2;
}

.containerr form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.containerr form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.containerr form .underline::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    right: 0;
}

.containerr form .underline:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.containerr form .input-box input:focus ~ .underline:after,
.containerr form .input-box input:valid ~ .underline:after{
    transform: scaleX(1);
    transform-origin: left;
    
}

.containerr form .buttonn{
    margin: 40px 0 20px 0;
   

}

.containerr form .input-box input[type=submit]{
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    background: red;

}

.containerr form .input-box input[type=submit]:hover{
    letter-spacing: 1px;
    background: rgba(0,0,0,0.15);
    color: red;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.containerr p{
    font-size: 14px;
    text-align: center;
}

.containerr .github a,
.containerr .twitter a,
.containerr .facebook a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

.containerr .github a{
    background-color: #24292e;
    margin: 20px 0 15px 0;
}

.containerr .github a:hover{
    background: #6d7e8f;
}

.containerr .twitter a{
    background-color: #1da1f2;
    margin: 20px 0 15px 0;
}

.containerr .twitter a:hover{
    background: #82b8da;
}

.containerr .facebook a{
    background: #4267b2;
    margin: 20px 0 15px 0;
}

.containerr .facebook a:hover{
    background-color:#7da0e6 ;
}

.containerr .github i,
.containerr .twitter i,
.containerr .facebook i{
    font-size: 22px;
    padding-right: 22px;
}

.last-button{
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: #dfabc5;
    border: none;
    border-radius:5px;
}

.last-button a{
    
    color: #24292e;
    text-decoration: none;
}

.last-button:hover{
    background-color:#f1c6dc;

}